site:
  title: {{ site_title }}
  url: {{ site_url }}
content:
  sources:
    - url: ''
      tags: '@({1..9})*({0..9}).+({0..9})'
      branches: ~
      start_path: documentation
asciidoc:
  attributes:
    page-pagination: ''
    experimental: ''
    kroki-fetch-diagram: true  # Whether rendering is done server-sided so the images are served statically.
    kroki-default-format: svg@
    kroki-server-url: http://fruit.ritger.nl:9000
  extensions:
    - asciidoctor-kroki
output:
  clean: true
  dir: output/html
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: /antora/supplemental-ui
antora:
  extensions:
    - require: '/antora/add-collector-config.js'
    - require: '@antora/collector-extension'
      keep_worktrees: true
    - require: '@antora/lunr-extension'
