site:
  title: {{ site_title }}
  url: {{ site_url }}
content:
  sources:
    - url: ''
      start_paths: [output/artifacts/documentation, output/artifacts/root_documentation]
    #- url: ''
    #  tags: [v*.*.*]
    #  start_path: output/artifacts/documentation
asciidoc:
  attributes:
    page-pagination: ''
    experimental: ''
    kroki-fetch-diagram: false  # Whether rendering is done server-sided so the images are served statically.
    kroki-default-format: svg@
    kroki-server-url: http://fruit.ritger.nl:9000
  extensions:
    - asciidoctor-kroki
output:
  clean: true
  dir: output/docs
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: /antora/supplemental-ui
antora:
  extensions:
  - '@antora/lunr-extension'
