linkml == 1.8.4
linkml-asciidoc-generator @ git+https://github.com/Netbeheer-Nederland/linkml-asciidoc-generator.git@v0.3.2
gen-linkml-profile @ git+https://github.com/Netbeheer-Nederland/gen-linkml-profile.git
check-jsonschema == 0.31.0
rust-just == 1.38.0
